.root {
  flex: none;
  padding: 20px 20px 40px 20px;
}

.title {
  margin: 0 0 20px 0;
}

.setting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 2px;
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.groupedButtons {
  display: inline-flex;
  padding: 5px;
  border-radius: 5px;
  background-color: #e9f5fe;
}

.button {
  padding: 6px 20px 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #239bf4;
  position: relative;
  cursor: pointer;
}

.button.active {
  background-color: #239bf4;
  color: #fff;
}

.button span {
  font-size: 20px;
}
