body {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a,
input,
button,
textarea {
  font-family: inherit;
}

button {
  border: none;
  background: #e9e9e9;
  padding: 4px 8px 6px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.muteButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.muteButton img {
  width: 30px;
  height: 30px;
}

.muteButton::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 36px;
  top: 50%;
  left: 50%;
  background-color: #111;
  border: 2px solid #fff;
  border-radius: 5px;
  transform: translate(-50%, -52%) rotate(-43deg);
  transform-origin: center;
  opacity: 0;
}

.muteButton.muted::before {
  opacity: 1;
}
